#main {  
    background-color:  rgb(240,240,240);
    display: flex;
    flex-direction: column;
    margin: 30px 5px;
    border-radius: 10px;  
  }
  
  h1{
    text-align: center;
    font-family: aharoni, sans-serif;
    font-weight: bold;
    color:rgb(60,60,60);
    font-size:3.5rem;
  }
  
  .title{
   text-align: center;
   font-family: arial, sans-serif;
   font-weight: bold;
  }
  
  .subtitle{
    text-align: center;
    font-size:1.2rem;  
  }
  
  #img-div{
    background-color:white;
    text-align: center;  
  }
  
  #image{
    max-width:100%;
  }
  
  #img-caption{
    font-size:0.4em;
  }
    
  #tribute-info{
    font-family: arial, sans-serif;
    padding: 0% 23%;
    line-height: 2.2em;
    font-size:0.8em;
  }
  
  #tribute-quote{
    margin-top: 2em; 
    font-style:italic;
  }
  
  #tribute-link{
    text-align: center; 
    font-family: helvetica, sans-serif;
    font-weight: bold;
    color: rgb(50,50,50);
    font-size:19px;
  }
  